:root {
  --darker-blue: #0346AD;
  --blue-primary: #0575E6;
}

.fs-8 {
  font-size: 2.5rem !important;
}

.fs-10 {
  font-size: 5rem !important;
}

.bg-blue-primary {
  background-color: var(--blue-primary) !important;
  color: white !important;
}

.bg-darker-blue {
  background-color: var(--darker-blue) !important;
  color: white !important;
}

.left-panel {
  height: 100vh;
  background: linear-gradient(180deg, #0094ff 0%, #002f91 100%);
  position: relative;
  overflow: hidden;
}

.left-panel::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  bottom: -100px;
  left: -150px;
}

.right-panel {
  max-width: 400px;
}